﻿doctype html
html(ng-app='ecoAceApp')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width initial-scale=1')
    block title
      title ecoAce-system
    link(rel='shortcut icon' href='./favicon.ico')
    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/tether/dist/js/tether.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/angular/angular.min.js')
    //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
    //script(src='http://localhost:3001/socket.io/socket.io.js')
    script(src='node_modules/socket.io-client/socket.io.js')
    link(rel='stylesheet' href='stylesheets/style.css')
  block body
    .container-fluid
      .row
        .col-md-6
          block body_h1
            h1 eco-ace system
        .col-md-6.pageLinks(ng-controller='headerCont')
          //span.headerUartLabel(ng-class='headerUartStateLabel(uartState)') 親機接続:{{uartState}}
          .headerDummy
          .headerUartStateArea
            span.headerUartText.label.label-pill(valign='middle') 親機接続:
            span.headerUartLabel(ng-cloak)(ng-class='headerUartStateLabel(uartState)') {{uartState}}
          span.pageLinksItem
            a.label.label-pill.label-primary(href='./') 総合情報
            a.label.label-pill.label-success(href='parent') 親機情報
            a.label.label-pill.label-info(href='child') 子機情報
            a.label.label-pill.label-warning(href='meas') 計測データ
      hr.titleDivider
      block contents
  block local_modules
