form
  .form-group.row
    .col-sm-4
      fieldset.form-group.form-group-sm
        label(for='childNo') 子機番号
        select.form-control.c-select#childNo(ng-model='childNo' ng-options='childNo.name for childNo in childNos')
        small.text-muted 子機のNoを選択します
    .col-sm-4
      fieldset.form-group.form-group-sm
        label 登録
        .form-control
          label(for='childRegistercb') 登録
          .checkbox.ccheckbox#childRegistercb
            input(type='checkbox' value='' ng-model='Fregister')
        small.text-muted チェックすると子機を制御できます
    .col-sm-4
      fieldset.form-group.form-group-sm
        label#shitugai(for='serialNo') シリアルNo
        input.form-control#serialNo(type='text' placeholder='7桁のシリアルNo' ng-model='childForm.serial_no')
        small.text-muted 子機のシリアルNoを入力します
  hr
  .form-group.row
    .col-sm-3
      fieldset.form-group.form-group-sm
        label エアコン制御
        .form-control
          label(for='childOuter').childFormCheckBoxLabel エアコン制御を有効化
          .checkbox.ccheckbox#childOuter
            input(type='checkbox' value='' ng-model='Fouter')
        small.text-muted チェックするとエアコン制御が有効になります
    .col-sm-3
      fieldset.form-group.form-group-sm
        label タイマー制御
        .form-control
          label(for='childOuterTimer').childFormCheckBoxLabel タイマー制御を有効化
          .checkbox.ccheckbox#childOuterTimer
            input(type='checkbox' value='' ng-model='FouterTimer' ng-disabled='!Fouter')
        small.text-muted チェックするとエアコン制御をタイマーで制御できます
    .col-sm-3
      fieldset.form-group.form-group-sm
        label(for='exampleInputEmail1') タイマー制御時刻
        .form-group-row
          .col-sm-6
            form.form-inline
              .form-group.outerTime
                label.sr-only(for='outerOn') タイマーON時刻
                input#outerOn(type='time' step=300 ng-model='Fstart' ng-disabled='!Fouter || !FouterTimer')
                small.text-muted 制御ON時刻
          .col-sm-6
            form.form-inline
              .form-group.outerTime
                label.sr-only(for='outerOff') タイマーOFF時刻
                input#outerOff(type='time' step=300 ng-model='Fstop' ng-disabled='!Fouter || !FouterTimer')
                small.text-muted 制御OFF時刻
    .col-sm-3
      fieldset.form-group.form-group-sm
        label#shitugai(for='sleeptime') データ送信間隔
        .input-group
          input.form-control#sleeptime(type='number' min=1 max=1800 placeholder='1-1800秒' ng-model='FsleepTime' readonly)
          .input-group-addon 秒
        small.text-muted 子機のデータ送信間隔を入力します
  hr
  .form-group.row
    .col-sm-6.sensorWaku
      fieldset.form-group.form-group-sm
        .form-group.form-inline
          h6.cfSencerTitle センサ1
          .form-control.cfSensor
            label(for='childSensor1').checkbox-inline.cfCheckLabel センサ１を使用しない
            .checkbox.cfcheckbox#childSensor1
              input(type='checkbox' value='' ng-model='s1Disable')
        hr.cformhr
        .form-group-row
          .col-sm-6
            label(for='senserPlace') 設置場所
            select.form-control#senserPlace(ng-model='s1Place' ng-options='s1Place.name for s1Place in s1Places' ng-disabled='s1Disable')
            small.text-muted センサ設置場所を選択します
            br
            label(for='senserRange') センサ容量
            select.form-control#senserRange(ng-model='s1Sensor' ng-options='s1Sensor.name for s1Sensor in s1Sensors' ng-disabled='s1Disable')
            small.text-muted センサ容量を選択します
          .col-sm-6
            label(for='childNo') 番号
            select.form-control.c-select#childNo(ng-model='s1Label' ng-options='s1Label.name for s1Label in s1Labels' ng-disabled='s1Disable')
            small.text-muted 場所が重複する場合には番号を振れます
            label(for='acSpec') 電気仕様
            select.form-control#acSpec(ng-model='s1AcType' ng-options='s1AcType.name for s1AcType in s1AcTypes' ng-disabled='s1Disable')
            small.text-muted 電気仕様を選択します
    .col-sm-6.sensorWaku
      fieldset.form-group.form-group-sm
        .form-group.form-inline
          h6.cfSencerTitle センサ2
          .form-control.cfSensor
            label(for='childSensor2').checkbox-inline.cfCheckLabel センサ2を使用しない
            .checkbox.cfcheckbox#childSensor2
              input(type='checkbox' value='' ng-model='s2Disable')
        hr.cformhr
        .form-group-row
          .col-sm-6
            label(for='senserPlace') 設置場所
            select.form-control#senserPlace(ng-model='s2Place' ng-options='s2Place.name for s2Place in s2Places' ng-disabled='s2Disable')
            small.text-muted センサ設置場所を選択します
            br
            label(for='senserRange') センサ容量
            select.form-control#senserRange(ng-model='s2Sensor' ng-options='s2Sensor.name for s2Sensor in s2Sensors' ng-disabled='s2Disable')
            small.text-muted センサ容量を選択します
          .col-sm-6
            label(for='childNo') 番号
            select.form-control.c-select#childNo(ng-model='s2Label' ng-options='s2Label.name for s2Label in s2Labels' ng-disabled='s2Disable')
            small.text-muted 場所が重複する場合には番号を振れます
            label(for='acSpec') 電気仕様
            select.form-control#acSpec(ng-model='s2AcType' ng-options='s2AcType.name for s2AcType in s2AcTypes' ng-disabled='s2Disable')
            small.text-muted 電気仕様を選択します
  #hr
  .form-group.row
    .col-sm-6.sensorWaku
      fieldset.form-group.form-group-sm
        .form-group.form-inline
          h6.cfSencerTitle センサ3
          .form-control.cfSensor
            label(for='childSensor3').checkbox-inline.cfCheckLabel センサ3を使用しない
            .checkbox.cfcheckbox#childSensor3
              input(type='checkbox' value='' ng-model='s3Disable')
        hr.cformhr
        .form-group-row#fgroup
          .col-sm-6
            label(for='senserPlace') 設置場所
            select.form-control#senserPlace(ng-model='s3Place' ng-options='s3Place.name for s3Place in s3Places' ng-disabled='s3Disable')
            small.text-muted センサ設置場所を選択します
            br
            label(for='senserRange') センサ容量
            select.form-control#senserRange(ng-model='s3Sensor' ng-options='s3Sensor.name for s3Sensor in s3Sensors' ng-disabled='s3Disable')
            small.text-muted センサ容量を選択します
          .col-sm-6
            label(for='childNo') 番号
            select.form-control.c-select#childNo(ng-model='s3Label' ng-options='s3Label.name for s3Label in s3Labels' ng-disabled='s3Disable')
            small.text-muted 場所が重複する場合には番号を振れます
            label(for='acSpec') 電気仕様
            select.form-control#acSpec(ng-model='s3AcType' ng-options='s3AcType.name for s3AcType in s3AcTypes' ng-disabled='s3Disable')
            small.text-muted 電気仕様を選択します
    .col-sm-6.sensorWaku
      fieldset.form-group.form-group-sm
        .form-group.form-inline
          h6.cfSencerTitle センサ4
          .form-control.cfSensor
            label(for='childSensor4').checkbox-inline.cfCheckLabel センサ4を使用しない
            .checkbox.cfcheckbox#childSensor4
              input(type='checkbox' value='' ng-model='s4Disable')
        hr.cformhr
        .form-group-row
          .col-sm-6#fgroup
            label(for='senserPlace') 設置場所
            select.form-control#senserPlace(ng-model='s4Place' ng-options='s4Place.name for s4Place in s4Places' ng-disabled='s4Disable')
            small.text-muted センサ設置場所を選択します
            br
            label(for='senserRange') センサ容量
            select.form-control#senserRange(ng-model='s4Sensor' ng-options='s4Sensor.name for s4Sensor in s4Sensors' ng-disabled='s4Disable')
            small.text-muted センサ容量を選択します
          .col-sm-6
            label(for='childNo') 番号
            select.form-control.c-select#childNo(ng-model='s4Label' ng-options='s4Label.name for s4Label in s4Labels' ng-disabled='s4Disable')
            small.text-muted 場所が重複する場合には番号を振れます
            label(for='acSpec') 電気仕様
            select.form-control#acSpec(ng-model='s4AcType' ng-options='s4AcType.name for s4AcType in s4AcTypes' ng-disabled='s4Disable')
            small.text-muted 電気仕様を選択します
