﻿extends _view_base

block title
  title 子機情報 | 電力個別監視

block body_h1
  h1 電力個別監視 子機情報
block contents
  div(ng-controller='childCont')
    table.table.table-striped.table-hover.table-sm
      tr.sougouTableHead(ng-repeat='line in children')
        th.text-nowrap {{line.name}}
        //-td(ng-class='childrenLine(line)') {{line.child1}}
        td(ng-class='childrenOnLabel(line.child1)') {{line.child1}}
        td(ng-class='childrenOnLabel(line.child2)') {{line.child2}}
        td(ng-class='childrenOnLabel(line.child3)') {{line.child3}}
        td(ng-class='childrenOnLabel(line.child4)') {{line.child4}}
        td(ng-class='childrenOnLabel(line.child5)') {{line.child5}}
        td(ng-class='childrenOnLabel(line.child6)') {{line.child6}}
        td(ng-class='childrenOnLabel(line.child7)') {{line.child7}}
        td(ng-class='childrenOnLabel(line.child8)') {{line.child8}}
      tr.sougouTableHead(ng-repeat='line in childrenSensor')
        th.text-nowrap {{line.name}}
        td
          span.label.label-success {{line.child1[0]}} {{line.child1[1]}}
          span.label.label-info {{line.child1[2]}}
          span.label.label-warning {{line.child1[3]}}
        td
          span.label.label-success {{line.child2[0]}} {{line.child2[1]}}
          span.label.label-info {{line.child2[2]}}
          span.label.label-warning {{line.child2[3]}}
        td
          span.label.label-success {{line.child3[0]}} {{line.child3[1]}}
          span.label.label-info {{line.child3[2]}}
          span.label.label-warning {{line.child3[3]}}
        td
          span.label.label-success {{line.child4[0]}} {{line.child4[1]}}
          span.label.label-info {{line.child4[2]}}
          span.label.label-warning {{line.child4[3]}}
        td
          span.label.label-success {{line.child5[0]}} {{line.child5[1]}}
          span.label.label-info {{line.child5[2]}}
          span.label.label-warning {{line.child5[3]}}
        td
          span.label.label-success {{line.child6[0]}} {{line.child6[1]}}
          span.label.label-info {{line.child6[2]}}
          span.label.label-warning {{line.child6[3]}}
        td
          span.label.label-success {{line.child7[0]}} {{line.child7[1]}}
          span.label.label-info {{line.child7[2]}}
          span.label.label-warning {{line.child7[3]}}
        td
          span.label.label-success {{line.child8[0]}} {{line.child8[1]}}
          span.label.label-info {{line.child8[2]}}
          span.label.label-warning {{line.child8[3]}}
      tr.sougouTableHead
        th 設定変更
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(1)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(2)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(3)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(4)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(5)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(6)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(7)') 設定
        td
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#myChild' ng-click='childsetting(8)') 設定
    include modalChild
block local_modules
  script(src='javascripts/sougou.js')
  script(src='javascripts/services.js')
