﻿extends _view_base



block title
  title 総合表示 | 電力個別監視

block body_h1
  h1 電力個別監視 総合表示
block contents
  table.table.table-striped.table-hover.table-sm(ng-controller='sougouCont')
    tr.sougouTable(ng-repeat='line in sougou')
      th.sougouTableHead.text-nowrap {{line.name}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child1, $index)') {{line.child1}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child2, $index)') {{line.child2}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child3, $index)') {{line.child3}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child4, $index)') {{line.child4}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child5, $index)') {{line.child5}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child6, $index)') {{line.child6}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child7, $index)') {{line.child7}}
      td.sougouTabletd
        span.sougouTableBody(ng-class='sougouOnLabel(line.child8, $index)') {{line.child8}}
block local_modules
  script(src='javascripts/sougou.js')
  script(src='javascripts/services.js')
