﻿extends _view_base
block title
  title 計測データ | 電力個別監視
block body_h1
  h1 電力個別監視 計測データ表示
block contents
  div(ng-controller='measCont')
    .row
      .col-md-3
        h2 {{ measDay }}
      .col-md-6
        h5 子機1-8(センサ1-4) 1φ,3φ電力
      .col-md-3#foBtn
        button.btn.btn-success-outline.btn-sm(ng-click='folderOpen()') csvフォルダを開く
    table.table.table-striped.table-hover
      tr
        th.measHead 時刻
        th.measHead 子機1
        th.measHead 子機2
        th.measHead 子機3
        th.measHead 子機4
        th.measHead 子機5
        th.measHead 子機6
        th.measHead 子機7
        th.measHead 子機8
        th.measHead 1φ電力
        th.measHead 3φ電力
      tr(ng-repeat='line in measPower')
        th.sougouTableHead {{line.time}}
        td.measTable
          span.measdata {{line.c1}}
        td.measTable
          span.measdata {{line.c2}}
        td.measTable
          span.measdata {{line.c3}}
        td.measTable
          span.measdata {{line.c4}}
        td.measTable
          span.measdata {{line.c5}}
        td.measTable
          span.measdata {{line.c6}}
        td.measTable
          span.measdata {{line.c7}}
        td.measTable
          span.measdata {{line.c8}}
        td.measTable
          span.measdata {{line.powerSum}}
        td.measTable
          span.measdata {{line.power3Sum}}
block local_modules
  script(src='javascripts/sougou.js')
  script(src='javascripts/services.js')
