.modal.fade#myChild(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title#myModalLabel 子機設定
      .modal-body
        .container
          //-include childForm
          include childForm2
      .modal-footer
        button.btn.btn-danger-outline.btn-sm(type='button' data-dismiss='modal') 閉じる
        button.btn.btn-success-outline.btn-sm(ng-click='childSave()') 設定保存
