.modal.fade#modalParent(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title#myModalLabel システム設定
      .modal-body
        .container
          include modalformParent
      .modal-footer
        button.btn.btn-danger-outline.btn-sm(type='button' data-dismiss='modal') 閉じる
        button.btn.btn-success-outline.btn-sm(ng-click='pSave()') 設定保存
