form
  fieldset.form-group.form-group-sm
    label(for='pfChannel') 無線周波数チャンネル
    span.pformRight 設定可能
    select.form-control.c-select#pfChannel(ng-model='pfChannel' ng-options='pfChannel.name for pfChannel in pfChannels')
    small.text-muted 周波数チャンネルを入力します（11-26）
  fieldset.form-group.form-group-sm
    label(for='pfactor') φ3-200V力率
    span.pformRight 電力メータに表示されています
    input.form-control#pfactor(type='number' min=80 max=100 placeholder='力率' ng-model='pfPfactor')
    small.text-muted 力率を入力します（80-100%）
  fieldset.form-group.form-group-sm
    label(for='co2_coff_3phi') CO2換算係数　3φ-200V
    span.pformRight 電力販売会社により決る
    input.form-control#co2_coff_3phi(type='text' placeholder='３φ-200V CO2換算係数' ng-model='pfCo2coff3phi')
    small.text-muted CO2換算係数を入力します
  fieldset.form-group.form-group-sm
    label(for='co2_coff_1phi') CO2換算係数　1φ-200/100V
    span.pformRight 電力販売会社により決る
    input.form-control#co2_coff_1phi(type='text' placeholder='1φ-200,100V CO2換算係数' ng-model='pfCo2coff1phi')
    small.text-muted CO2換算係数を入力します
  fieldset.form-group.form-group-sm
    label(for='formTestMode') 計測テストモード
    .form-control#formTestMode
      label(for='testModeID').childFormCheckBoxLabel テストモードを有効化
      .checkbox.ccheckbox#testModeID
        input(type='checkbox' value='' ng-model='testMode')
    small.text-muted チェックするとテストモードとなり、エアコン制御を隔日で行います
