﻿link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/tether/dist/js/tether.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='bower_components/angular/angular.min.js')
