﻿extends _view_base
block title
  title 親機情報 | 電力個別監視
block body_h1
  h1 電力個別監視 親機情報
block contents
  div(ng-controller='parentCont').card-deck-wrapper
    div.card-deck
      .card
        h3.card-header.cardtitleText アドレス
        .card-block
          #h4.card-title
          .row
            .col-md-6
              div 親機シリアルNo
              div アプリケーションID
            .col-md-6
              div :&nbsp{{address}}
              div :&nbsp{{appid}}
      .card
        h3.card-header.cardtitleText 無線周波数チャンネル
        .card-block
          #h4.card-title
          p.card-text.parentCard {{fchannel}}
      .card
        h3.card-header.cardtitleText 子機リスト
        .card-block
          table.table.table-striped.table-hover.table-sm
            tr
              th.childrenTable 1
              th.childrenTable 2
              th.childrenTable 3
              th.childrenTable 4
            tr
              td.childrenTable
                span(ng-class='parentOnLabel(child1_registered)') {{child1_registered}}
              td.childrenTable
                span(ng-class='parentOnLabel(child2_registered)') {{child2_registered}}
              td.childrenTable
                span(ng-class='parentOnLabel(child3_registered)') {{child3_registered}}
              td.childrenTable
                span(ng-class='parentOnLabel(child4_registered)') {{child4_registered}}
            tr
              th.childrenTable 5
              th.childrenTable 6
              th.childrenTable 7
              th.childrenTable 8
            tr
              td.childrenTable
                span(ng-class='parentOnLabel(child5_registered)') {{child5_registered}}
              td.childrenTable
                span(ng-class='parentOnLabel(child6_registered)') {{child6_registered}}
              td.childrenTable
                span(ng-class='parentOnLabel(child7_registered)') {{child7_registered}}
              td.childrenTable
                span(ng-class='parentOnLabel(child8_registered)') {{child8_registered}}
    div.card-deck.deck2
      .card
        h3.card-header.cardtitleText φ3-200Vの力率入力
        .card-block
          h4.card-title
          p.card-text.parentCard {{pfactor}} (80-100)
      .card
        h3.card-header.cardtitleText CO2換算係数
        .card-block
          h4.card-title
          .row
            .col-sm-5
              div 3φ-AC200V
              div 1φ-AC100/200V
            .col-sm-7
              div :&nbsp{{co2_3phi}} kg/kWh
              div :&nbsp{{co2_1phi}} kg/kWh
      .card
        h3.card-header.cardtitleText 設定変更
        .card-block.settingBtn
          div
            span 動作モード:&nbsp
            span(ng-class='parentDousaLabel(dousaModeText)') {{dousaModeText}}
          br
          button.btn.btn-primary.btn-sm(data-toggle='modal' data-target='#modalParent' ng-click='parentSetting()') 設定変更
    include modalParent
block local_modules
  script(src='javascripts/sougou.js')
  script(src='javascripts/services.js')
