option(value='s1place1') 1
option(value='s1place2') 2
option(value='s1place3') 3
option(value='s1place4') 4
option(value='s1place5') 5
option(value='s1place6') 6
option(value='s1place7') 7
option(value='s1place8') 8
option(value='s1place9') 9
option(value='s1place10') 10
option(value='s1place11') 11
option(value='s1place12') 12
option(value='s1place13') 13
option(value='s1place14') 14
option(value='s1place15') 15
option(value='s1place16') 16
option(value='s1place17') 17
option(value='s1place18') 18
option(value='s1place19') 19
option(value='s1place20') 20
