option(value='s1place1') 事務所
option(value='s1place2') 会議室
option(value='s1place3') 応接室
option(value='s1place4') ホール
option(value='s1place5') 設計櫃
option(value='s1place6') 工場
option(value='s1place7') 倉庫
option(value='s1place8') 室外機
option(value='s1place9') 機械
option(value='s1place10') 昇降機
option(value='s1place11') コンプレッサ
option(value='s1place12') チラー
option(value='s1place13') 集塵機
option(value='s1place14') エアコン
option(value='s1place15') 炉
option(value='s1place16') ヒーター
option(value='s1place17') 冷蔵
option(value='s1place18') 冷蔵庫
option(value='s1place19') レーザー加工機
option(value='s1place20') タレパン
option(value='s1place21') ブレーキP
