﻿/*
160512 kdesign

ecoAce styles

*/

/*
 for angular
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*

  _view_base css

*/

body {
  padding: 50px;
  /*padding-top: 40px;*/
  padding-top: 10px;
/*
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
*/
/*
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
*/

/*
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif, "游ゴシック体", "Yu Gothic", YuGothic;
*/
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif, "游ゴシック体", "Yu Gothic", YuGothic;
}
a {
  color: #00B7FF;
}

.pageLinks{
  text-align:right;
  /*//display: table-cell;*/
  display: inline-block;
  vertical-align: middle;
  height: 40px;
}

.pageLinksItem{
  text-align : right;
  vertical-align: middle;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0px;
}

.titleDivider {
  margin-top: 0px;
}

/*
.uartStateBlock{
  margin-right:10px;
  display: inline-block;
  vertical-align: text-top;
}
*/
.headerDummy{
   display: inline-block; 
   vertical-align: middle;  
}
.headerUartStateArea {
  display: inline-block;
  //background-color: #afeeee;
  height: 40px;
  /*vertical-align: middle;*/
  margin-right: 10%;
}
.headerUartLabel{
  font-family: inherit;  
  padding-right:10%;  
  border-radius:100%;
  /*font-size: 1rem;*/
  /*vertical-align: text-top;*/
  display:inline;
  vertical-align: middle;  

}
.headerUartText{
  display: inline;
  border-radius: 2%;
  color: #5f9ea0;
  vertical-align: middle;  
  /*background-color: #f0f8ff;*/
  background-color: #e0ffff;
}

h1 {
  display: inline-block;
}





/*
sougou page
*/
.sougouTableHead {
  text-align: center;
  vertical-align: middle !important;
  font-size: 0.85rem;
}
.sougouTableBody {
  //text-align: center;
  padding:25%;
  //padding:15%;
  border-radius:100%;
}
.sougouTableBodyOuter {
  //text-align: center;
  //padding:25%;
  padding:15%;
  border-radius:100%;
}
.sougouTabletd{
  vertical-align: middle !important;
}

/*
 air-con save on anime
*/
.on_anime{
    animation: anime1 1.2s ease -1s infinite alternate;
}
@keyframes anime1 {
  0% {padding: 24%;background-color: #9acd32;}
  100% {padding: 25%;background-color: #5cb85c;}
}

/*
 wireless-connection ok anime
*/
.ok_anime{
    animation: anime_ok 1.2s ease -1s infinite alternate;
}
@keyframes anime_ok {
  0% {padding: 24%;background-color: #9acd32;}
  100% {padding: 25%;background-color: #5cb85c;}
}


/*
  text-readonly
*/
.text_non_active{

}

/*
  save state text
*/
.saveState{
  text-size: 0.8rem;    /*original 1rem*/
}


.sougouTable {
  text-align: center;
}

/*
  demand off text area (communication label size adjust)
*/
/* demand '-' */
.addTextArea {
  margin-right:1.25rem;
  margin-left:1.25rem;
}
/* demand 'OFF' */
.addTextArea2 {
  padding-right:2.2rem;
  padding-left:2.2rem;
}

.noTextArea {
  padding-right:3rem;
  padding-left:3rem;
}





/*
parent page
*/
.oya_setting_sw {
  text-allign:center;
}

.childrenTable {
  text-align: center;
}

.settingBtn {
  text-align:center;
}

.parentCard {
  text-align:center;
}

.pformRight {
/*  text-align: right; */
  float: right;
  padding-right: 1em;
  font-size: 0.9em;
}

.deck2 {
  margin-top: 15px;
}

.cardtitleText {
  text-align: center;
  font-family: 'メイリオ';
  font-size: 1.38em;
}






/*
 child page
 */

.ccheckbox
{
  /*display: block; */
	float: left;
  padding-left: 1em;

}
#shitugai {
  clear:right;
}

.tinput {
  display:block;
}
.text-muted {
 display: block;
}

fieldset {
  display: block;
}
.outerTime {
  display: inline;
}

.childFormCheckBoxLabel{
  font-size: 0.8rem;
}


/*
  child form
*/
.sensorWaku {
  /*padding: 2px;*/
  /*margin: 1px;*/
  border: 1px #d0d0d0 solid;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
}
.cformhr {
  margin-top: 0px;
}
.cfSencerTitle{
  padding-top:3px;
  display: inline;
}

.cfSensor{
  /*display: inline; */
  float: right;
  /*text-align: right; */
}

.cfCheckLabel{
  font-size: 0.8rem;
  padding: 0px;
}
.cfcheckbox{
  float: left;
}








/*

  meas data

*/



.measdata {
  /*font-size: 0.85rem;*/
  text-align: center;
  font-size: 0.8rem;
}

.measHead {
  /*font-size: 0.9rem;*/
  text-align: center;
  font-size: 0.82rem;
}

.measTable {
  text-align: center;
}

#foBtn {
  text-align: right;
  margin-bottom: 0.2rem;
}


